.button-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.exButton {
    margin: 0 0 0 5px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: rgb(134, 179, 0);
}

.exButton:disabled {
    opacity: 0.5;
}


.suggest-box {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    position: relative;
}

.suggest-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggest-text {
    box-sizing: border-box;
    padding: 0 16px;
    margin-bottom: 3px;
    width: 100%;
    font-size: 16px;
    opacity: 0.8;
    border-bottom: solid 1px rgba(231, 255, 251, 0.14);
    border-radius: 0;
    background: transparent;
    color: var(--fg);
    font-family: inherit;
    resize: vertical;
}

.suggest-announce-text {
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    font-size: 16px;
    opacity: 0.8;
    background: transparent;
    color: var(--fg);
    font-family: inherit;
    text-decoration: underline;
    flex: 1
}
